{% extends 'layout.html.twig' %}

{% block links %}
    <link href="/assets/css/invoice-forms.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script rel="script" src="/assets/script/functionLibrary.js" defer></script>
    <script rel="script" src="/assets/script/siretAutocomplete2.js" defer></script>
{% endblock %}

{% block subtitle %}
    Mes Informations
{% endblock %}

{% block content %}
    {% include 'Component/_header.html.twig' %}

    {% if errors is not empty %}
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endif %}

    <form action="" method="post">
        
        <fieldset class="user-infos-field">
            <input type="password" name="old_password" id="old_password" placeholder="Ancien mots de passe" title="Veuillez renseigner un mot de passe valide" maxlength="24" pattern="/^[A-Za-zÀ-ÿ0-9 \'.,!@#$%^&*()_-]+$/" required>
            <input type="password" name="new_password" id="new_password" placeholder="Nouveau mots de passe" title="Veuillez renseigner un mot de passe valide" maxlength="24" pattern="/^[A-Za-zÀ-ÿ0-9 \'.,!@#$%^&*()_-]+$/" required>
        </fieldset>

        <div class="form-cta">
            <button type="submit">Valider</button>
            <button type="reset" onclick="confirmCancel('/dashboard')">Annuler</button>
        </div>
    </form>
{% endblock %}
